LDAP_DOMAIN=vibhuvi.com
LDAP_BASE_DN=dc=vibhuvi,dc=com
LDAP_ADMIN_DN=cn=Manager,dc=vibhuvi,dc=com
LDAP_ADMIN_PASSWORD=ChangeMe_StrongP@ssw0rd123!
LDAP_ROOT_PASSWORD=ChangeMe_StrongP@ssw0rd123!
LDAP_ORGANISATION=Vibhuvi Corporation


ENABLE_REPLICATION=false
SERVER_ID=1

ENABLE_MONITORING=true
